## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebugPublic/
[Rr]eleases/
build/
msbuild.log
msbuild.err
msbuild.wrn

## User-specific files
*.suo
*.user
*.sln.docstates
.env
*.local

## Local .NET SDK
.dotnet/

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## dotnet-install script
dotnet-install.ps1

## App secrets & local data
hosting.json
**/app.db
**/Logs/
*.log
