.password-wrapper {
    position: relative;
    display: block;
}

.password-control {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/images/showPass.svg) 0 0 no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

    .password-control.view {
        background: url(/images/hidePass.svg) 0 0 no-repeat;
        background-size: contain;
    }

    /* Убираем стандартное подчеркивание ссылки */
    .password-control:hover,
    .password-control:focus {
        text-decoration: none;
    }
