@using ProductionPlanning.ViewModel.User
@model ChangeUserPasswordViewModel

@{
    ViewData["Title"] = "Смена пароля пользователя";
}

<div class="row">
   <div class="col-md-8">
       <h1 class="h3 mb-0">Смена пароля пользователя</h1>
       <p class="text-muted mb-0">Пользователь : @Model.UserName (@Model.UserFullName)</p>
   </div>

    <form method="post" class="mt-3">
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="UserName" />
        <input type="hidden" asp-for="UserFullName" />
        <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrlEditPass"]" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="alert alert-light" role="alert">
            <h5 class="alert-heading">
                <svg width="25" height="25" fill="#3498db" class="bi bi-key" viewBox="0 0 17 17">
                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5" />
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                </svg>
                Пароль пользователя
            </h5>

            <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group mb-3">
                        <label asp-for="NewPassword"></label>
                        <div class="password-wrapper">
                            <input asp-for="NewPassword" class="form-control" id="newPasswordId" />
                            <a href="#" class="password-control" data-target="newPasswordId"></a>
                        </div>  
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group mb-3">
                        <label asp-for="ConfirmPassword"></label>
                        <div class="password-wrapper">
                            <input asp-for="ConfirmPassword" class="form-control" id="confirmPasswordId" />
                            <a href="#" class="password-control" data-target="confirmPasswordId"></a>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="col-12">
            <input type="submit" class="btn btn-success" value="Сменить пароль" />
            <button type="button" class="btn btn-secondary" onclick="history.back();">Отмена</button>
        </div>
    </form>
        
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/validationform.js" asp-append-version="true"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.password-control').forEach(function (button) {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                var inputId = this.getAttribute('data-target');
                var input = document.getElementById(inputId);

                if (input.getAttribute('type') == 'password') {
                    this.classList.add('view');
                    input.setAttribute('type', 'text');
                } else {
                    this.classList.remove('view');
                    input.setAttribute('type', 'password');
                }
            });
        });
    });
</script>